@font-face {
    src: url(../fonts/Poppins/Poppins-Black.ttf);
    font-family: customFont1;
}

@font-face {
    src: url(../fonts/Pacifico/Pacifico-Regular.ttf);
    font-family: customFont2;
}

#front-page {
    width: 100%;
    height: 100vh;
    background: url(../images/carbon_fibre.png) top center;
    background-repeat: repeat;
    /* background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-family: customFont1;
    color: white;
}

header h2 {
    font-family: customFont2;
    color: white;
    padding-bottom: 30px;
    font-size: 100px;
}

@media (max-width: 767px) {
    header h2 {
        font-size: 50px;
    }
}

body {
    background-color: #f0f0e8;
}

.divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.divider svg {
    position: relative;
    display: block;
    width: calc(163% + 1.3px);
    height: 100px;
}

.divider .shape-fill {
    fill: #f0f0e8; 
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1647785958 svg {
        width: calc(127% + 1.3px);
        height: 46px;
    }
}

.box {
    margin: 25px 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: white;
}


#section1 .box {
    padding: 0 6px;
}


#section2 .box {
    padding: 0 6px;
}

#setup-box {
    margin: 86px 0;
}

#tracking-box {
    margin: 54px 0;
}